// Container width
$width: 1440px;

// Font size
$mainSize: 16px;
$mainBg: #feddd0;
$btn: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
$mainFont: "Lato", sans-serif;
$mainColor: #424551;
$textColor: #fff;
$white: #1e212c;
$createxTitle: #1e212c;
$secondColorBtn: #f75e05;
$marketing: #03cea4;
$hr: #f89828;
$mg: #5a87fc;
$ds: #f52f6e;
$redMain: #ff3f3a;
